bin
obj
*.suo
_ReSharper.*
.vs

Build/Build.rsp
Projects/Application/Publish/
Projects/Database/Bin/
Projects/Application/Sources/IrpsApi.Api/ConnectionStrings.config
Projects/Database/Publish/
Projects/Package