Build/Build.rsp
Projects/Application/Publish/
Projects/Database/Bin/
Projects/Application/Sources/IrpsApi.Api/ConnectionStrings.config
Projects/Database/Publish/
Projects/Package

bin
obj
ConnectionStrings.json
ConnectionStrings.config
Sessions.json
Sessions.config
Settings.json
Settings.config
Build/npm-debug.log

_ReSharper.*
*.suo
*.user
.vs

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
